<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-black">GolFriend</h1>
    <h2 class="text-black">Let's play golf together.</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign up', '#', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log in', '#',class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
  </div>
  <div class="container map-class-container">
    <div class="row">
      <div class="col-md-5">
        <div class="map-box">
         <h3 class="text-black">一緒に行く友達を探す</h3>
         <h4 class="text-black">住んでいる地区を選ぼう</h4>
         <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      　 　<%= javascript_include_tag 'jquery.japan-map.min.js' %>
         <script>
             $(function(){
                
        	    var areaLinks = {
        		 1:"javascript:void(0)",
        		 2:"javascript:void(0)",
        		 3:"http://rmtmhome.com",
        		 4:"http://rmtmhome.com",
        		 5:"http://rmtmhome.com",
        		 6:"javascript:void(0)",
        		 7:"javascript:void(0)",
        		 8:"javascript:void(0)",
        		 9:"javascript:void(0)"
        	    };
                
                    var areas = [
                        {code : 1, name: "北海道", color: "#aaa", hoverColor: "#aaa", prefectures: [1]},
                        {code : 2, name: "東北",   color: "#aaa", hoverColor: "#aaa", prefectures: [2,3,4,5,6,7]},
                        {code : 3, name: "関東",   color: "#7ecfea", hoverColor: "#b7e5f4", prefectures: [8,9,10,11,12,13,14]},
                        {code : 4, name: "中部",   color: "#7cdc92", hoverColor: "#aceebb", prefectures: [15,16,17,18,19,20,21,22,23]},
                        {code : 5, name: "近畿",   color: "#ffe966", hoverColor: "#fff19c", prefectures: [24,25,26,27,28,29,30]},
                        {code : 6, name: "中国",   color: "#aaa", hoverColor: "#aaa", prefectures: [31,32,33,34,35]},
                        {code : 7, name: "四国",   color: "#aaa", hoverColor: "#aaa", prefectures: [36,37,38,39]},
                        {code : 8, name: "九州",   color: "#aaa", hoverColor: "#aaa", prefectures: [40,41,42,43,44,45,46]},
                        {code : 9, name: "沖縄",   color: "#aaa", hoverColor: "#aaa", prefectures: [47]},
                    ];
                    
                
                    $("#map-container").japanMap({
        		    width:400,
                            areas  : areas,
                            selection : "area",
                            borderLineWidth: 0.25,
                            drawsBoxLine : false,
                            movesIslands : true,
                            showsAreaName : true,
                            font : "MS Mincho",
                            fontSize : 13,
        		    fontColor :"#777",
                            fontShadowColor : "white",
                            onSelect : function(data){
        			  location.href = areaLinks[data.area.code];
                            }
                    });
        
                });
        </script>
        <div id="map-container"></div>
        
        </div>
      </div>
    </div>
  </div>
</body>
</html>
